th1 {
  font-size: 40px;
  font-weight: bold;
  color: #444444;
  line-height: 20px;
}

th2 {
  font-size: 30px;
  color: #444;
}

th3 {
  font-size: 22px;
  color: gray;
}

body {
  background: #FCFCFC;
}